<footer id="footer" class="clearfix">
  <div id="colophon">
    The code and content of this site, excluding any trademarks or names, is licensed under the MIT License. The <a href="{{ metadata.github }}">code is available on Github</a>. 
  </div>
</footer>