<footer id="footer" class="clearfix">
  <div id="colophon">
    This site's code (excluding any copyrighted content, trademarks or names) is licensed under the MIT License. The <a href="{{ metadata.github }}">code is available on Github</a>. 
  </div>
</footer>