<header id="header">
  <nav>
    <ul>
      <li><h1><a href="#header"><img src="images/logo.svg" alt="Microservices Day"> Microservices Day</a></h1></li>
      <li><a href="#register">Register</a></li>
      <li><a href="#location">Location</a></li>
      <li><a href="#conduct">Code of conduct</a></li>
      <li><a href="#agenda">Agenda</a></li>
      <li><a href="#about">About</a></li>
    </ul>
  </nav>
</header>