<header id="header">
  <img src="images/menu.svg" alt="Menu" id="toggler">
  <nav id="menu">
    <ul>
      <li><h1><a href="#top"><img src="images/logo.svg" alt="Microservices Day"> Microservices Day</a></h1></li>
      <li id="register"><a href="{{ '#top' }}">Register</a></li>
      <li><a href="#location">Location</a></li>
      <li><a href="#conduct">Code of conduct</a></li>
      <li><a href="#agenda">Agenda</a></li>
      <li><a href="#about">About</a></li>
      <li id="twitter"><a href="https://twitter.com/microserviceday" target="_blank">@microserviceday</a></li>
    </ul>
  </nav>
</header>