#about,
#conduct {
  background: @orange;

  h2 {
    color: darken(@orange, 40%);
    margin: 0 auto 0;
    padding: 3rem 0 2rem;
    width: @width;
  }

  p {
    font-size: 1.3rem;
    line-height: 140%;
    width: @width;
    margin: 0 auto;
    padding-bottom: 3.8rem;
    color: darken(@orange, 40%);
  }
}
