/*------------------------------------------------------------------
Project:	Soon - Creative Coming Soon Template
Version:	1.0
Last change:	7.11.2016
Assigned to:	ThemeStarz

[Table of contents]

1. Elements Styling
2. Universal classes
3. Classes
4. Forms
5. Responsive
6. Animations

[Color codes]

Default: #000;
Color White: #fff

[Typography]

Body copy:		'Roboto', sans-serif; 14px;
Headers:		'Roboto', sans-serif;

-------------------------------------------------------------------*/

$color-black: #000;
$color-white: #fff;

@import 'compass/css3/appearance';
@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';
@import 'compass/css3/box-sizing';
@import 'compass/css3/text-shadow';
@import 'compass/css3/transition';
@import 'compass/css3/transform';
@import 'compass/css3/background-clip';
@import 'compass/css3/opacity';
@import 'compass/css3/filter';

@import 'helpers/mixin';
//@import 'helpers/variables';
/* 1. Elements Styling */
@import 'helpers/elements';
/* 2. Universal classes */
@import 'helpers/universal-classes';
/* 3. Classes */
@import 'helpers/classes';
/* 4. Forms */
@import 'helpers/forms';
/* 5. Responsive */
@import 'helpers/responsive';
/* 6. Animation */
@import 'helpers/animations';