body, html { height: 100%; font-family: 'Roboto', sans-serif; font-size: 14px; overflow: hidden; position: relative; color: $color-white; background-color: #191919;  margin-right: 0 !important; }

a { @include transit; outline: none !important; color: $color-white;
  &:hover, &:focus, &:active { color: $color-white; text-decoration: none; }
  &.icon {
    i { margin-right: 6px; margin-left: 6px; }
  }
}

dl {
  dt { float: left; }
  dd { text-align: right; margin-bottom: 6px; }
}

h1 { @include text-shadow(0px 4px 10px rgba(0,0,0,.65)); text-transform: uppercase; font-size: 90px; font-weight: 700; }
h2 { @include text-shadow(0px 4px 10px rgba(0,0,0,.45)); font-size: 24px; font-weight: normal; margin-bottom: 30px; }
h3 { margin-bottom: 25px; margin-top: 10px; }
h4 { font-size: 16px; }

p { @include opacity(.6); }

img { max-width: 100%; }