$color-black: #fff;
$color-white: #000;

@import 'compass/css3/appearance';
@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';
@import 'compass/css3/box-sizing';
@import 'compass/css3/text-shadow';
@import 'compass/css3/transition';
@import 'compass/css3/transform';
@import 'compass/css3/background-clip';
@import 'compass/css3/opacity';
@import 'compass/css3/filter';

@import 'helpers/mixin';
/* 1. Elements Styling */
@import 'helpers/elements';
/* 2. Universal classes */
@import 'helpers/universal-classes';
/* 3. Classes */
@import 'helpers/classes';
/* 4. Forms */
@import 'helpers/forms';
/* 5. Responsive */
@import 'helpers/responsive';
/* 6. Animation */
@import 'helpers/animations';

body { background-color: #fff; }
.side-panel {
  &:before { @include opacity(.9); }
}
.has-vignette {
  &:before { @include box-shadow( inset 0px 0px 300px rgba($color-black,.6) ); /*background-image: url("../../assets/img/vignette-white.png");*/ }
}

.has-stripes {
  &:after { background-image: url("../../assets/img/stripes-black.png"); }
}

#navigation-wrapper {
  .background-wrapper { background-color: #f8f8f8; }
}